{% include 'techscan/header.html' %} 
<div class="container">
	<div class="row">
		<div class="col-lg-3 sidebar">
			<div class="profile-pic">				
				<img src="{{ data.author_profile.avatar_url }}" />
			</div>
			<div class="profile-info">				
				<a href="{{data.author_profile.html_url}}" style="margin-bottom: 10px;font-size: 20px;color: #555">{{ data.author_profile.login }}</a>
			</div>
			<button class="btn btn-success btn-lg">Follow</button>
		</div>
		<div class="col-lg-9 repos">
			<div class="row">		
				{% for repository in data.repos %}
					<div class="card text-white bg-primary mb-4" style="min-width: 30rem;max-width: 30rem; margin: 15px">
					  <div class="card-header" style="color:#333;font-size: 15px; max-height: 50px;">
					  	<span class="col-lg-7 pull-left category-header" title="{{ repository.full_name }}"> {{ repository.full_name }} </span>
					  	<span class="pull-right col-lg-5"  style="color:gold">
					  		<span class="glyphicon glyphicon-star"></span>
					  		<span class="badge badge-pill badge-dark">{{ repository.stargazers_count }}</span>
					  	</span>
					  </div>
					  <div class="card-body" style="font-size: 18px;background: #eee;color: #333">
					    <h4 class="card-title">{{ repository.description }}</h4>
					    <h3><span class="badge badge-info">{{ repository.language }}</span></h3>    
					  </div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% include 'techscan/footer.html' %}